# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
dist/
build/
app_data/

# Terraform
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
